.bl_nav_color{
  background: #d13030 !important;
}

.bl_font_color{
  color: #d13030 !important;
}

.bl_font_color:hover{
  color: #d13030 !important;
}

.lm_font_color{
  color: #266ec1 !important;
}

.lm_font_color:hover{
  color: #266ec1 !important;
}


.bl_hover_line_color:hover{
  color: #d13030 !important;
}

.bl_line_color{
  color: #d13030 !important;
  border-color: #d13030 !important;
}
.ivu-notice-with-info:after{
  background: #266ec1;
}
.ivu-poptip-confirm .ivu-poptip-body .ivu-icon{
  left:15px;
}
.ivu-notice-with-error:after{
  background: #d13030;
}
.ivu-notice-notice-content .ivu-icon{
  display: none;
}
.ivu-notice-notice-content .ivu-notice-title{
  margin-left: 0 !important;
}
.ivu-notice-notice-content .ivu-notice-desc{
  margin-left: 0 !important;
}

.bl_hover_line_color.active{
  color: #d13030 !important;
  border-color: #d13030 !important;
}

.router-link-exact-active.router-link-active span{
  background: #266ec1 !important;
  color: #fff;
}

.router-link-exact-active.router-link-active.bl_active_color span{
  background: #d13030 !important;
  color: #fff;
}
.over_div{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.pswp__bg{
  background: rgba(0, 0, 0, 0.5) !important;
}
.my_address select
{
  width: 100px;
  height: 30px !important;
}

.normal_font{
  color: #266ec1
}

.my_tag_font{
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.ivu-message , .ivu-message .ivu-icon{
  font-size: 20px;
}


.normal_font_hover:hover{
  color: #266ec1
}

.normal_big_font{
  font-weight: bold;
  color: #266ec1
}

.router-link-exact-active.router-link-active.r-l{
  color: #266ec1 !important;
}

.router-link-exact-active.router-link-active.r-l.bl_active_color{
  color: #d13030 !important;
}

.bl_active_color .mm-over{
  background: #d13030 !important;
  color: #fff;
}

.bl_sel_color .ivu-select-item-selected , .bl_sel_color .ivu-select-item-selected:hover{
  background: #d13030 !important;
}

.ivu-select-item-selected, .ivu-select-item-selected:hover{
  background:  #266ec1 !important;
}

.ivu-page-item-active{
  background:  #266ec1 !important;
}

.bl_page_color .ivu-page-item-active{
  background: #d13030 !important;
}

.ivu-tabs-nav .ivu-tabs-tab-active{
  color:  #266ec1 !important;
}

.bl_tab_color .ivu-tabs-nav .ivu-tabs-tab-active{
  color: #d13030 !important;
}

.ivu-tabs-ink-bar{
  background-color:  #266ec1 !important;
}

.bl_tab_color .ivu-tabs-ink-bar{
  background-color: #d13030 !important;
}

.bl_model_span_color span{
  color: #d13030 !important;
}


.bl_border_color{
  border-color: #d13030 !important;
}

.my_hover_card{
  transition: all .2s ease-in-out;
}
.my_card:hover{
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  border-color: #eee;
}
.my_a_style::before,
.my_a_style::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.my_a_style::before {
  position: absolute;
  margin-left: -10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.my_a_style::after {
  position: absolute;
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.my_a_style:hover::before,
.my_a_style:hover::after
{
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.my_btn_wrapper {
  float:left;
  width:auto;
  line-height: 45px;
  display: inline-block;
  margin-right:2em;
  text-align:center;
}
.my_btn_wrapper:hover{
  cursor:pointer;
}

.my_card_hover:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  transition: all .2s ease-in-out;
}

.hover_hand:hover{
  cursor: pointer;
}
.button_one {
  stroke-width: 3px;
  fill: transparent;
  stroke: #266ec1;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -228;
  transition: 1s all ease;
}
.my_btn_wrapper:hover .button_one {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #266ec1;
}
.tt_center{
  text-align: center;
}

.button_one_text {
  font-size: 16px;
  margin-top:-63px;
  text-align: center;
}

.button_one_text span{
  font-size: 12px;
}

.bl_my_button_color.my_btn_wrapper .button_one{
  stroke: #d13030 !important;
}

.bl_my_button_color.my_btn_wrapper:hover .button_one {
  stroke: #d13030 !important;
}

.ivu-radio-group-button .ivu-radio-wrapper-checked{
  border-color: #266ec1;
  color: #266ec1;
  -webkit-box-shadow: -1px 0 0 0 #266ec1;
  box-shadow: -1px 0 0 0 #266ec1;
}

.nav_top .router-link-exact-active.router-link-active{
  background: #266ec1;
  border-radius: 2px;
}

.nav_top .router-link-exact-active.router-link-active.bl_active_color{
  background: #d13030;
  border-radius: 2px;
}

.ivu-radio-group-button .ivu-radio-wrapper:hover{
  color: #266ec1;
}


.bl_radio_color.ivu-radio-group-button .ivu-radio-wrapper-checked{
  border-color: #d13030;
  color: #d13030;
  -webkit-box-shadow: -1px 0 0 0 #d13030;
  box-shadow: -1px 0 0 0 #d13030;
}

.bl_radio_color.ivu-radio-group-button .ivu-radio-wrapper:hover{
  color: #d13030;
}

.my_gold{
  background: url('/images/pay/gold.ico') no-repeat;background-size: contain;;padding-left: 30px
}

.ivu-btn-primary{
  background-color: #266ec1;
  border-color: #266ec1;
}

.bl_button_color.ivu-btn-primary{
  background-color: #d13030;
  border-color: #d13030;
}

//.my-button{
//  background:#266ec1;
//  border-color:#266ec1;
//  border-radius: 0;
//}
//
a , a:active , a:focus , a:hover {
  color: #333;
  text-decoration:none;
}
.view_img{
  width: 30px;
  height: 30px;
}
.my_admin_table{
  border-top: 2px solid #ddd;
  border-bottom: none !important;
}
.my_admin_table , .my_admin_table th{
  text-align: center;
}
.my_admin_table > thead > tr > th {
  padding: 8px;
  border-bottom: none !important;
}
.my_admin_table td{
  padding: 0 !important;
  height: 45px;
  line-height: 45px !important;
  text-align: center;
}


.my_admin_table .ivu-tooltip-inner{
  white-space:normal !important;
}

.my_admin_table .ivu-tooltip-rel{
  width: 100px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//
//a:hover {
//  color: #44844a;
//}
//
//.link_a {
//  color: #44844a;
//}
//
//.link_a:hover{
//  color: #47cb89;
//}
//
//body , .ivu-select-selection , .ivu-input , .ivu-page-item , .ivu-page-prev , .ivu-page-next{
//  background: #f5f5f5;
//}
//
//.r_main .ivu-select-selection ,.r_main .ivu-input ,.r_main .ivu-page-item ,.r_main .ivu-page-prev ,.r_main .ivu-page-next{
//  background: #fff;
//}
//
//.form_main .ivu-select-selection ,.r_main .ivu-input ,.r_main .ivu-page-item ,.r_main .ivu-page-prev ,.r_main .ivu-page-next{
//  background: #fff;
//}
//
//.w_input .ivu-input{
//  background-color:#fff
//}
//.ivu-tabs-nav .ivu-tabs-tab-active{
//  color: #f5f5f5;
//}
//.ivu-tabs-ink-bar{
//  background: #f5f5f5;
//}

.ivu-tabs-nav .ivu-tabs-tab:hover{
  color: #555;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0 solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 5px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}