/*= common css to all effects =*/
.user_card .card.single-member{width: 20%; float: left;   text-align: center; position: relative;}
.user_card .card.member-image img{max-width: 100%; vertical-align: middle;}
.user_card .card.fb-touch{background-position: 0 0;}
.user_card .card.tweet-touch{background-position: -35px 0;}
.user_card .card.linkedin-touch{background-position: -71px 0;}
.user_card .card.icon-colored .fb-touch{background-position: 0 -27px;}
.user_card .card.icon-colored .tweet-touch{background-position: -35px -27px;}
.user_card .card.icon-colored .linkedin-touch{background-position: -71px -27px;}
/*= common css to all effects end =*/

/*= effect-1 css =*/
.user_card .card.effect-1{border-radius: 5px 5px 0 0; padding-bottom: 40px;}
.user_card .card.effect-1 .member-image {border: 2px solid #266ec1; border-radius: 60px 0; display: inline-block; overflow: hidden; transition: 0.3s;}
.user_card .card.effect-1 .social-touch{background-color: #e13157; position: absolute; left: 0; bottom: 0; height: 5px; overflow: hidden; padding: 5px 0 0; width: 100%; transition: 0.3s;}
.user_card .card.effect-1 .member-image img{transition: 0.3s; border-radius: 60px 0;}
.user_card .card.effect-1 .member-image:hover{border-color: #266ec1; transition: 0.3s; border-radius: 50%;}
.user_card .card.effect-1 .member-image:hover .social-touch{padding: 6px 0; height: 38px; transition: 0.3s;}
/*= effect-1 css end =*/
